.container {
  display: grid;
  //   grid-template-columns: repeat(3, 1fr);
  //   grid-template-rows: repeat(3, 50px);
  height: 100vh;
  grid-template: 40px auto 40px / repeat(12, 1fr);
  grid-gap: 3px;
  grid-template-areas:
    "h h h h h h h h h h h h h h h"
    "m c c c c c c c c c c c c c c"
    "f f f f f f f f f f f f f f f";
}

.header {
  //   grid-column-start: 1;
  //   grid-column-end: 3;
  //grid-column: 1/ -1;
  grid-area: h;
}

.footer {
  //grid-column: 1/-1;
  grid-area: f;
}

.content {
  //grid-column: 2 / -1;
  grid-area: c;
}

.menu {
  grid-area: m;
}
.container > * {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: #ffeead;
}

html,
body {
  background-color: #ffeead;
  margin: 10px;
}

.container > *:nth-child(1n) {
  background-color: #96ceb4;
}

.container > div:nth-child(3n) {
  background-color: #88d8b0;
}

.container > div:nth-child(2n) {
  background-color: #ff6f69;
}

.container > div:nth-child(4n) {
  background-color: #ffcc5c;
}
